USE [TMDB_MovieDB]
GO
/****** Object:  Table [dbo].[Cast]    Script Date: 18.04.2026 14:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cast](
	[credit_id] [nvarchar](50) NOT NULL,
	[movie_id] [int] NOT NULL,
	[person_id] [int] NOT NULL,
	[cast_id] [int] NULL,
	[character] [nvarchar](500) NULL,
	[cast_order] [int] NULL,
 CONSTRAINT [PK_Cast] PRIMARY KEY CLUSTERED 
(
	[credit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crew]    Script Date: 18.04.2026 14:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crew](
	[credit_id] [nvarchar](50) NOT NULL,
	[movie_id] [int] NOT NULL,
	[person_id] [int] NOT NULL,
	[department] [nvarchar](100) NULL,
	[job] [nvarchar](200) NULL,
 CONSTRAINT [PK_Crew] PRIMARY KEY CLUSTERED 
(
	[credit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 18.04.2026 14:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[genre_id] [int] NOT NULL,
	[genre_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keywords]    Script Date: 18.04.2026 14:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keywords](
	[keyword_id] [int] NOT NULL,
	[keyword_name] [nvarchar](300) NOT NULL,
 CONSTRAINT [PK_Keywords] PRIMARY KEY CLUSTERED 
(
	[keyword_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Genres]    Script Date: 18.04.2026 14:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Genres](
	[movie_id] [int] NOT NULL,
	[genre_id] [int] NOT NULL,
 CONSTRAINT [PK_Movie_Genres] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[genre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Keywords]    Script Date: 18.04.2026 14:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Keywords](
	[movie_id] [int] NOT NULL,
	[keyword_id] [int] NOT NULL,
 CONSTRAINT [PK_Movie_Keywords] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[keyword_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Production_Companies]    Script Date: 18.04.2026 14:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Production_Companies](
	[movie_id] [int] NOT NULL,
	[company_id] [int] NOT NULL,
 CONSTRAINT [PK_Movie_Companies] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Production_Countries]    Script Date: 18.04.2026 14:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Production_Countries](
	[movie_id] [int] NOT NULL,
	[iso_3166_1] [nchar](2) NOT NULL,
 CONSTRAINT [PK_Movie_Countries] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[iso_3166_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie_Spoken_Languages]    Script Date: 18.04.2026 14:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie_Spoken_Languages](
	[movie_id] [int] NOT NULL,
	[iso_639_1] [nchar](2) NOT NULL,
 CONSTRAINT [PK_Movie_Languages] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC,
	[iso_639_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 18.04.2026 14:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[movie_id] [int] NOT NULL,
	[title] [nvarchar](500) NULL,
	[original_title] [nvarchar](500) NULL,
	[original_language] [nvarchar](10) NULL,
	[budget] [bigint] NULL,
	[revenue] [bigint] NULL,
	[popularity] [float] NULL,
	[runtime] [float] NULL,
	[release_date] [date] NULL,
	[status] [nvarchar](50) NULL,
	[tagline] [nvarchar](1000) NULL,
	[overview] [nvarchar](max) NULL,
	[vote_average] [float] NULL,
	[vote_count] [int] NULL,
	[homepage] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[movie_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 18.04.2026 14:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[person_id] [int] NOT NULL,
	[name] [nvarchar](300) NOT NULL,
	[gender] [tinyint] NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[person_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Production_Companies]    Script Date: 18.04.2026 14:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production_Companies](
	[company_id] [int] NOT NULL,
	[company_name] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Production_Countries]    Script Date: 18.04.2026 14:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Production_Countries](
	[iso_3166_1] [nchar](2) NOT NULL,
	[country_name] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[iso_3166_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spoken_Languages]    Script Date: 18.04.2026 14:31:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spoken_Languages](
	[iso_639_1] [nchar](2) NOT NULL,
	[language_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Languages] PRIMARY KEY CLUSTERED 
(
	[iso_639_1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cast]  WITH CHECK ADD  CONSTRAINT [FK_Cast_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([movie_id])
GO
ALTER TABLE [dbo].[Cast] CHECK CONSTRAINT [FK_Cast_Movie]
GO
ALTER TABLE [dbo].[Cast]  WITH CHECK ADD  CONSTRAINT [FK_Cast_Person] FOREIGN KEY([person_id])
REFERENCES [dbo].[Persons] ([person_id])
GO
ALTER TABLE [dbo].[Cast] CHECK CONSTRAINT [FK_Cast_Person]
GO
ALTER TABLE [dbo].[Crew]  WITH CHECK ADD  CONSTRAINT [FK_Crew_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([movie_id])
GO
ALTER TABLE [dbo].[Crew] CHECK CONSTRAINT [FK_Crew_Movie]
GO
ALTER TABLE [dbo].[Crew]  WITH CHECK ADD  CONSTRAINT [FK_Crew_Person] FOREIGN KEY([person_id])
REFERENCES [dbo].[Persons] ([person_id])
GO
ALTER TABLE [dbo].[Crew] CHECK CONSTRAINT [FK_Crew_Person]
GO
ALTER TABLE [dbo].[Movie_Genres]  WITH CHECK ADD  CONSTRAINT [FK_MG_Genre] FOREIGN KEY([genre_id])
REFERENCES [dbo].[Genres] ([genre_id])
GO
ALTER TABLE [dbo].[Movie_Genres] CHECK CONSTRAINT [FK_MG_Genre]
GO
ALTER TABLE [dbo].[Movie_Genres]  WITH CHECK ADD  CONSTRAINT [FK_MG_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([movie_id])
GO
ALTER TABLE [dbo].[Movie_Genres] CHECK CONSTRAINT [FK_MG_Movie]
GO
ALTER TABLE [dbo].[Movie_Keywords]  WITH CHECK ADD  CONSTRAINT [FK_MK_Keyword] FOREIGN KEY([keyword_id])
REFERENCES [dbo].[Keywords] ([keyword_id])
GO
ALTER TABLE [dbo].[Movie_Keywords] CHECK CONSTRAINT [FK_MK_Keyword]
GO
ALTER TABLE [dbo].[Movie_Keywords]  WITH CHECK ADD  CONSTRAINT [FK_MK_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([movie_id])
GO
ALTER TABLE [dbo].[Movie_Keywords] CHECK CONSTRAINT [FK_MK_Movie]
GO
ALTER TABLE [dbo].[Movie_Production_Companies]  WITH CHECK ADD  CONSTRAINT [FK_MPC_Company] FOREIGN KEY([company_id])
REFERENCES [dbo].[Production_Companies] ([company_id])
GO
ALTER TABLE [dbo].[Movie_Production_Companies] CHECK CONSTRAINT [FK_MPC_Company]
GO
ALTER TABLE [dbo].[Movie_Production_Companies]  WITH CHECK ADD  CONSTRAINT [FK_MPC_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([movie_id])
GO
ALTER TABLE [dbo].[Movie_Production_Companies] CHECK CONSTRAINT [FK_MPC_Movie]
GO
ALTER TABLE [dbo].[Movie_Production_Countries]  WITH CHECK ADD  CONSTRAINT [FK_MPCO_Country] FOREIGN KEY([iso_3166_1])
REFERENCES [dbo].[Production_Countries] ([iso_3166_1])
GO
ALTER TABLE [dbo].[Movie_Production_Countries] CHECK CONSTRAINT [FK_MPCO_Country]
GO
ALTER TABLE [dbo].[Movie_Production_Countries]  WITH CHECK ADD  CONSTRAINT [FK_MPCO_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([movie_id])
GO
ALTER TABLE [dbo].[Movie_Production_Countries] CHECK CONSTRAINT [FK_MPCO_Movie]
GO
ALTER TABLE [dbo].[Movie_Spoken_Languages]  WITH CHECK ADD  CONSTRAINT [FK_MSL_Language] FOREIGN KEY([iso_639_1])
REFERENCES [dbo].[Spoken_Languages] ([iso_639_1])
GO
ALTER TABLE [dbo].[Movie_Spoken_Languages] CHECK CONSTRAINT [FK_MSL_Language]
GO
ALTER TABLE [dbo].[Movie_Spoken_Languages]  WITH CHECK ADD  CONSTRAINT [FK_MSL_Movie] FOREIGN KEY([movie_id])
REFERENCES [dbo].[Movies] ([movie_id])
GO
ALTER TABLE [dbo].[Movie_Spoken_Languages] CHECK CONSTRAINT [FK_MSL_Movie]
GO
